<div class="container-fluid">
  <div class="row">
    <div class="col-xs-0 col-md-1 col-lg-2 col-xl-3"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
      <h2 class="title_size slim-font mg-top-med">영양해
        <span class="bold-font orange">영양in</span>
        <a href="/questions/new" class="small_compact_btn hvr-right float-right">질문하기</a>
      </h2>
      <p class="semi_slim-font mg-bottom-med luxury_space info-size">
        세상의 모든 영양 지식, 영양해에게 물어봐!
      </p>
      <div class="sub_nav text-center">
        <div id="navigation-wrapper_q">
          <% Question::CATEGORY.each do |k,v| %>
            <%= link_to question_ajax_path(v), :remote => true , class:"q_cate" do %>
              <div class="menu_q">
                <span><%= k %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="ajax_question">
        <%= render partial: 'questions/question_lists' %>
      </div>
    </div>
    <div class="col-xs-0 col-md-1 col-lg-2 col-xl-3"></div>
  </div>
</div>
