<div class="comment_cool">
  <div class="row">
    <div class="col-12">
      <span class="luxury_space semi_bold-font"><%= comment.user.name.present? ? comment.user.name : comment.user.email %> </span>
      <span class="float-right time_for"><%= comment.created_at.strftime("%Y.%m.%d %I:%M%p") %></span>
      <p class="com_content"><%= comment.content %></p>
      <% if !user_signed_in? %>
      <%else%>
        <% if comment.user.id == current_user.id %>
          <%= link_to "삭제", question_answer_answer_comment_path(question,answer,comment), method: "delete", class: "float-right info-size-sm luxury_space btn_micro hvr-right_red",:data => {:confirm => '진짜 지워요?'} %>
        <% end %>
       <%end%>
       <br>
    </div>
  </div>
</div>
