<div class="magazine-wrapper">
  <div class="magazine magazine_tmp_title">
    <div class='a'><%= @m1.title if @m1.present? %></div>
    <div class='b'>
      <div class='d'><%= @m2.title if @m2.present? %></div>
      <div class='e'>
        <div class='f'><%= @m3.title if @m3.present? %></div>
        <div class='g'><%= @m4.title if @m4.present? %></div>
        <div class='h'></div>
      </div>
    </div>
    <div class='c'></div>
  </div>
</div>
