<section class="mainsection" style="background-image: url(/assets/mainimg2.jpg);">
    <!--<%= image_tag "mainimg.jpg", class: "mainimg" %>-->
    <p class="sectionword">세상에 하나밖에 없는</br> 당신만을 위한 맞춤형 영양 추천 서비스 </p>
</section>
<section class="y-service-intro">
    <h1 class="y-introword">영양제, 너무 많아서 뭘 먹어야 할 지 모르겠다면?</h1>
    <h1 class="y-introword-2">영양해에 부탁해~</h1>
    <div class="y-introimg-sec">
        <div class="y-intro-img" style="background-image: url(/assets/mainimg2.jpg);"></div>
        <div class="y-intro-img" style="background-image: url(/assets/mainimg2.jpg);"></div>
        <div class="y-intro-img" style="background-image: url(/assets/mainimg2.jpg);"></div>
    </div>
    <div class="y-introword-sec">
        <p class="y-introword">필요한 기능 선택하고</p>
        <p class="y-introword">전문가 멘토에게 상담받고</p>
        <p class="y-introword">영양제 추천받자!</p>
    </div>
</section>
<section class="y-magazine-sec">
    <h2 class>MAGAZINE</h2>
    <nav class="y-magazine-nav">
        <ul class="y-mag-nav">
            <li>건강관리</li>
            <li>미용</li>
            <li>다이어트</li>
            <li>한방관리</li>
            <li>제철관리</li>
            <li>영양 백과사전</li>
            <li>운동/헬스</li>
        </ul>
    </nav>
   <div class="y-magazine-1"></div>
   <div class="y-magazine-1"></div>
   <div class="y-magazine-1"></div>
   <div class="y-magazine-1"></div>
 </section>
 
 <section class="y-waggle">
     <h3>WAGGLE</h3>
     <div class="y-waggle-card"></div>
     <div class="y-waggle-card"></div>
     <div class="y-waggle-card"></div>
     <div class="y-waggle-card"></div>
     <div class="y-waggle-card"></div>
     <div class="y-waggle-card"></div>
 </section>

