<!--<section class="mainsection" style="background-image: url(/assets/mainimg2.jpg);">
    <!--<%= image_tag "mainimg.jpg", class: "mainimg" %>-->
    <!--<p class="sectionword">세상에 하나밖에 없는</br> 당신만을 위한 맞춤형 영양 추천 서비스 </p>
</section>-->


<body>
<div class="index-pg">
  <section class="index" style="background-image: url(/assets/YYH_main.jpg);">
      
     <!--<nav class="main-nav">
      <div class="logo">
      </div>
        <div class="main-nav-text">
          <div class="nav-btn">
            <span class="nav-text">맞춤형 영양제 찾기</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">멘토 커뮤니티</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">와글와글</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">회원가입하기</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">마이페이지</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">로그인</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">멘토 신청하기</span>
          </div>
        </div>
      </nav>--> 
    <div class="main-index">
      <div class="main-logo" style="background-image: url(/assets/main_logo.jpg);" ></div>
      <div class="main-logo-text">영양해</div>
    </div>
    <div class="index-text">
      <span>세상에 하나밖에 없는 </br> 당신만을 위한 맞춤형 영양 서비스</span>
    </div>
    <div class="main-btn">
      <span class="main-btn-text">나에게 딱맞는 영양제 진단 받으러 가기</span>
    </div>
  </section>
  <section class="intro">
    <div class="intro-text">
      <span >영양제, 너무 많아서 뭘 먹어야 할 지 모르겠다면?</span>
    </div>

    <div class="intro-desc">
      <div class="doc-img"  style="background-image: url(/assets/doc.png);"></div>
      <div class="intro-sub-desc">
        <span class="intro-sub-text">영양해에 부탁해~<span>
      </div>
      <div class="pill-img"></div>
    </div>

    <div class="intro-process">
      <div class="intro-process-1">
        <div class="process-img"  style="background-image: url(/assets/process-1.jpg);"></div>
        <div class="process-text">
          <span>필요한 기능 </br> 선택하고</span>
        </div>
      </div>
        <div class="intro-process-1">
          <div class="process-img" style="background-image: url(/assets/process-2.jpg);"></div>
          <div class="process-text">
            <span>전문가 멘토에게</br>상담받고</span>
          </div>
        </div>
          <div class="intro-process-1">
            <div class="process-img" style="background-image: url(/assets/process-3.jpg);"></div>
            <div class="process-text">
              <span>영양제 추천받자!</span>
            </div>
         </div>
    </div>
  </section>
  <section class="magazine-index" >
  <div class="magazine-title">
    <span class="title-text">MAGAZINE</span>
  </div>

  <div class=“sub-nav”>
  <div id="navigation-wrapper">

    <div id="menu-1" class="menu">
      <span>건강관리</span>
    </div>
    <div id="menu-1" class="menu">
      <span>미용</span>
    </div>
    <div id="menu-1" class="menu">
      <span>다이어트</span>
    </div>
    <div id="menu-1" class="menu">
      <span>한방관리</span>
    </div>
    <div id="menu-1" class="menu">
      <span>제철관리</span>
    </div>
    <div id="menu-1" class="menu">
      <span>영양 백과사전</span>
    </div>
    <div id="menu-1" class="menu">
      <span>운동/헬스</span>
    </div>
    <div id="menu-1" class="menu">
      <span>홍익시디</span>
    </div>
  </div>
</div>

<div class="magazine-wrapper">
  <div class="magazine">
    <div class='a'></div>
    <div class='b'>
      <div class='d'></div>
      <div class='e'>
        <div class='f'></div>
        <div class='g'></div>
        <div class='h'></div><!—float 제거 —>
      </div>
    </div>
    <div class='c'></div> <!—float 제거 —>
  </div>
</section>
<section class="banner">
  
</section>
<footer class="footer">
</footer>