<section class="mainsection" style="background-image: url(/assets/mainimg2.jpg);">
    <!--<%= image_tag "mainimg.jpg", class: "mainimg" %>-->
    <p class="sectionword">당신에게 가장 적합한 영양제!</p>
</section>