<section class="index" style="margin-bottom:4rem; background-image: url(/assets/YYH_main.jpg);">
<div class="main-index">
  <div class="main-logo-text">멘토소개</div>
</div>
<div style="padding-bottom:3rem;" class="index-text">
  <span>영양맨토</br></span>
</div>
</section>
<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-12 row" style="height:10rem;width:100%;border: 2px solid #f5f5f5;margin-bottom:2rem;border: 2px solid rgba(252,135,0,.26);">
        <div style="height:100%; display:inline-block;margin-right:2rem;float: left;">
            <img style="height:100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyoMZ9RDxPsgtXRaY2ZOS28ITL9j7hdzXz-Eka1bz8m6XQ7oBm" alt="Card image cap">
        </div>
        <div style="height:100%;display:inline-block;">
          <h3>이름</h1>
          <p>소속:</p>
          <p id="explainfunc">약력: </p>
        </div>
    </div>
    <div class="col-xl-3"></div>
</div>
<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-12 row" style="height:10rem;width:100%;border: 2px solid #f5f5f5;margin-bottom:2rem;border: 2px solid rgba(252,135,0,.26);">
        <div style="height:100%; display:inline-block;margin-right:2rem;float: left;">
            <img style="height:100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyoMZ9RDxPsgtXRaY2ZOS28ITL9j7hdzXz-Eka1bz8m6XQ7oBm" alt="Card image cap">
        </div>
        <div style="height:100%;display:inline-block;">
          <h3>이름</h1>
          <p>소속:</p>
          <p id="explainfunc">약력: </p>
        </div>
    </div>
    <div class="col-xl-3"></div>
</div>