<div class="container-fluid">
  <div class="row">
    <div class="col-xs-0 col-md-1 col-lg-2 col-xl-3"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
      <h2 class="title_size slim-font mg-top-med">자유게시판
        <span class="bold-font orange"></span>
        <a href="/frees/new" class="small_compact_btn hvr-right float-right">글쓰기</a>
      </h2>
      <p class="semi_slim-font mg-bottom-med luxury_space info-size">
        ~.~.~.~.~.~.~
      </p>
      <% @frees.each do |free| %>
        <a href="/frees/<%=free.id%>">
          <div class="free_div">
          <span class="cate_wrap">111</span>
          <span class="cate_wrap orange_back">222</span>
          <p class="luxury_space mg-top-sm semi_bold-font sub_size"><%= free.title %></p>
          <p class="slim-font info-size"><%= free.freelikes.size %>명이 좋아합니다</p>
          </div>
        </a>
      <% end %>
    </div>
    <div class="col-xs-0 col-md-1 col-lg-2 col-xl-3"></div>
  </div>
</div>
