// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 768px) {
    .mainsection{
        height:30vh;
        width:100%;
        text-align: center;
        background-position: center;
        background-size: cover;
    }
    .sectionword{
        color:white;
        font-size:1.3rem;
        padding-top:5rem;
    }
    .lg_div{
      width:100%;
      height:200px;
    }
    .no-pr{

    }
    .no-pl{

    }
}
@media (min-width: 768px) {
    .mainsection{
        height:25rem;
        width:100%;
        text-align: center;
        background-position: center;
        background-size: cover;
    }
    .sectionword{
        color:white;
        font-size:2rem;
        padding-top:10rem;
    }
    .lg_div{
      width:100%;
      height:400px;
    }
    .no-pr{
      padding-right: 0px!important;
    }
    .no-pl{
      padding-left: 0px!important;
    }
}

.index {
   width: 100%;
   height: 85vh;
   text-align: center;
   background-repeat:no-repeat;
   background-position:  center;
  background-size: cover;
}

.magazine-index{
  width: 100%;
   height: 85vh;
   text-align: center;
   background-repeat:no-repeat;
    background-position:  center;
    background-size: cover;
  background-color: #FFFFFF;
}






.main-nav{
  width: 90%;
  height: 50px;
  display: inline-block;
  margin-top: 20px;
  background-color: rgba(170, 170, 170, 0.3 );
}

.logo{
  width: 50px;
  height: 50px;
  background-color: orange;
  display: inline-block;
  float: left;
}

.nav-btn{
  width:calc(100% / 7 - 20px);
  display: inline-block;
  padding-top: 17px;
  min-width: 120px;
}

.nav-text{
  color: #FFFFFF;
  height:100%;
}

.main-nav-text{
  padding-left: 10%;
  padding-right: 10%;
}
.nav-text:hover {
  background-color: orange;
  color: white;
  transition: 0.4s;
}


.main-index{
  //margin-top: 150px;
  box-sizing: border-box;
}

.main-logo{
  width: 4.5rem;
  height: 4.5rem;
  background-color: #f78429;
  border-radius: 50%;
  display: inline-block;
  margin-top: 150px;
  box-sizing: border-box;
  margin-left:20px;
  background-repeat:no-repeat;
  background-position:  center;
  background-size: cover;
}

.main-logo-text{
  font-size: 3rem;
  display: inline-block;
  margin-top: 150px;
  color: #FFFFFF;
  box-sizing: border-box;
  vertical-align: top;
}

.index-text{
  margin-top: 5rem;
  color: #FFFFFF;
}

.main-btn{
  margin-top: 3rem;
  height: 4rem;
  width: 30%;
  display: inline-block;
  border-top-right-radius:50px;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-bottom-left-radius:50px;
  background-color: #f78429;
  box-shadow: 0 2px 5px rgba(0,0,0,.12);
  text-align: center;
}

.main-btn-text{
  margin-top: 20px;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  color: #FFFFFF;
}

.intro{
  width: 100%;
  height: 85vh;
  background-color: #efefef;
  text-align: center;
}

.intro-text{
  padding-top: 48px;
  width: 100%;
  font-size: 18px;
}

.intro-desc{
  margin-top: 12px;
  width: 100%;
  height: 4rem;
  text-align: center;
  display: inline-block;
  font-size: 28px;
  box-sizing: border-box;
}

.doc-img{
  width: 4rem;
  height: 4rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  background-repeat:no-repeat;
  background-position:  center;
  background-size: cover;

}

.intro-sub-desc{
  min-width: 220px;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}


.intro-process{
  margin-top: 5rem;
  width: 100%;
  height: 15rem;
  text-align: center;
}

.intro-process-1{
  width: 10rem;
  height: 164px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3rem;
  margin-right: 3rem;
}

.process-img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #f78429;
  background-repeat:no-repeat;
  background-position:  center;
  background-size: cover;
}


.process-text{
  width: 10rem;
  vertical-align: middle;
  text-align: center;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
}

.magazine-title{
  padding: 48px 0 48px;
  font-size: 28px;
  font-weight: 500;
}

.sub-nav {

  }

  #navigation-wrapper {
    background-color: #fff;
    height: auto;
    overflow-x: hidden;
    margin-bottom:30px;
  }

  .menu {
    font-weight:300;
    letter-spacing: 0.1em;
    width: calc(100% / 7);
    display: inline-block;
    text-align: center;
  }
  .menu:hover {
    background-color: orange;
    color: white;
    transition: 0.4s;
  }
  .menu span {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }

.magazine-wrapper{
  width: 100%;
}

.magazine{
  background-color: white;
}
.height_fixer{
  height:200px;
}
.a{
  width: 50%;
  height:400px;
  float : left;
  background-color: blue;
}
.b{
  width: 50%;
  height: 400px;
  float : left;
  background-color: red;
}
.c{
  clear:both;
}
.d{
  width: 100%;
  height: 200px;
  background-color: green;
}
.e{
  width: 100%;
  height: 200px;
  background-color: yellow;
}
.f{
  width: 50%;
  height:200px;
  float : left;
  background-color: purple;
}
.g{
  width: 50%;
  height:200px;
  float : left;
  background-color: pink;
}
.h{
  clear: both;
}

.banner{
  width: 100%;
  height: 40vh;
}
.login-img{
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
}

.regislation-pg{
  width: 100%;
  height: 100vh;
  //text-align: center;
  background-repeat:no-repeat;
  background-position:  center;
  background-size: cover;

}


// // nav수정
// .navbar {
//   overflow: hidden;
//   background-color: #333;
//   font-family: Arial, Helvetica, sans-serif;
// }

// /* Navigation links */
// .navbar a {
//   float: left;
//   font-size: 16px;
//   color: white;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
// }

// /* The subnavigation menu */
// .subnav {
//   float: left;
//   overflow: hidden;
// }

// /* Subnav button */
// .subnav .subnavbtn {
//   font-size: 16px;
//   border: none;
//   outline: none;
//   color: white;
//   padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit;
//   margin: 0;
// }

// /* Add a red background color to navigation links on hover */
// .navbar a:hover, .subnav:hover .subnavbtn {
//   background-color: red;
// }

// /* Style the subnav content - positioned absolute */
// .subnav-content {
//   display: none;
//   position: absolute;
//   left: 0;
//   background-color: red;
//   width: 100%;
//   z-index: 1;
// }

// /* Style the subnav links */
// .subnav-content a {
//   float: left;
//   color: white;
//   text-decoration: none;
// }

// /* Add a grey background color on hover */
// .subnav-content a:hover {
//   background-color: #eee;
//   color: black;
// }

// /* When you move the mouse over the subnav container, open the subnav content */
// .subnav:hover .subnav-content {
//   display: block;
// }




.logo{
    width: 50px;
    height: 50px;
    background-color: orange;
    display: inline-block;
    float: left;
}

.nav-btn{
    /* width:calc(100% / 7 - 10px); */
    display: inline-block;
    padding-left: 40px;
    /* min-width: 140px */
}

.nav-text{
    color: #FFFFFF;
}

.main-nav {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.main-nav-text{
    padding-left: 10%;
    padding-right: 10%;
}

.fsize14 {
    font-size: 14px;
}
// nav수정중

.mag_cover_img{
  position:relative;
}
.navbar-custom{
  background-color: #f7f7f7;
  padding:0 0 !important;
  color: rgba(255, 255, 255,1) !important;
  // position: fixed !important;
  // top:2rem;
  // left:25%;
}
#nav_logo{
  background-color: orange;
  margin-right:10rem;
}
.navbar-custom2{
  opacity: 0.5;
}
.nav-item{
  margin-right:3rem;
}
.nav-item:hover {
  background-color: orange;
  color: white;
  transition: 0.4s;
}
