// Place all the styles related to the Magazines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (max-width: 768px) {
    .magazine_mainsection{
        height:30vh;
        width:100%;
        background-position: center;
        background-size: cover;
    }
    .magazine_sectionword{
        color:white;
        font-size:1.3rem;
        padding-top:5rem;
        padding-left:1rem;
    }
}
@media (min-width: 768px) {
    .magazine_mainsection{
        height:25rem;
        width:100%;
        background-position: center;
        background-size: cover;
    }
    .magazine_sectionword{
        color:white;
        font-size:2rem;
        padding-top:10rem;
        padding-left:3rem;
    }
    .magazine_categorysection{
        margin-top: 3rem;
    }
}
.magazine_checkboxinput{
    display: none;
}
input[class="magazine_checkboxinput"] + label {
    background-color: none;
    cursor: pointer;
    display: block;
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
    text-align: center;
    line-height: 52px;
    border: 2px solid #f5f5f5;
    border-radius: 2px;
}
input[class="magazine_checkboxinput"]:checked + label {
    border-color: orange;
    color: orange;
    font-weight: bold;
}    

.carousel-inner{
    text-align: left;
    color: black;
    font-weight: bold;
}

.carousel-caption d-block{
    text-align: left;
    color: black;
    font-weight: bold;
    
}

.btn-default{
    background-color: orange;
    color: white;
    font-weight: bold;
}

h1{
    text-align: center;
    color: black;
}

h2{
    text-align: left;
    color: black;
}