<p>비밀번호 변경 요청 from 영양해 <%= @resource.email %>!</p>

<p>비밀번호를 변경하시려면 하단의 링크를 클릭해 주세요.</p>

<p><%= link_to '비밀번호 변경하기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>변경을 원치 않으시면 본 이메일을 무시하시면 됩니다.</p>
