<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>영양제 1차 검색!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag "https://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%#= javascript_include_tag "https://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>  
</head> 
<body>
<nav class="navbar navbar-expand-lg navbar-custom navbar-light ">
  <div id="nav_logo">
  <a class="navbar-brand" href="/">영양해</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/nutritions">전체영양제<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          매거진
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/magazines">영양정보</a>
          <a class="dropdown-item" href="/home/mentor">멘토진 소개</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          와글와글
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/frees">자유게시판</a>
          <a class="dropdown-item" href="/questions">영양 in</a>
        </div>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link disabled" href="/mypages">개인정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/users/sign_out" data-method="delete">로그아웃</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link disabled" href="/users/sign_in">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/users/sign_up">회원가입</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<!--<nav class="main-nav">
      <div class="logo">
      </div>
        <div class="main-nav-text fsize14">
          <div class="nav-btn subnav">
          <span class="nav-text">맞춤형 영양제 찾기</span>
            <button class="subnavbtn">맞춤형 영양제 찾기</button>
            <div class="subnav-content">
                        <a href="#magazine">영양제 찾기</a>
                        <a href="mentor">마이페이지</a>
                    </div>
          </div>
          <div class="nav-btn">
            <span class="nav-text">멘토 커뮤니티</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">와글와글</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">회원가입하기</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">마이페이지</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">로그인</span>
          </div>
          <div class="nav-btn">
            <span class="nav-text">멘토 신청하기</span>
          </div>
        </div>
      </nav>-->
<%= yield %>
</body>
</html>